@import url("layout.css");

.not-found {
  width: 100%;
  position: relative;
  height: 90vh;
  background: unset;
}

.not-found .content {
  text-align: left;
  padding: 5em 0;
}

.not-found-title {
  font-size: 55px;
}

.not-found-desc {
  font-size: 14px;
}

.go-home {
  padding: 10px 0;
  display: inline-block;
  position: relative;
}

a.go-home:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid var(--textNormal);
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.go-home:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.not-found-design {
  display: unset;
  width: 100%;
  transition: 0.5s;
}
