@import url("layout.css");

.about h1 {
  margin-bottom: 1.5rem;
}
.link-p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--textTitle) !important;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a.link-p:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid var(--textNormal);
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.link-p:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
