#contact {
  align-items: right;
}

#contact h1 {
  margin-bottom: 1.5rem;
  text-align: right;
}

#contact p {
  text-align: right;
}

#contact p a {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
}

.networks {
  padding: 10px 0;
}
