.contact {
  text-align: right;
}

.contact h1 {
  margin-bottom: 1.5rem;
  text-align: right;
}

.contact p {
  font-size: 16px;
}

.contact a {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  font-size: 16px;
}

.networks {
  padding: 10px 0;
  display: inline-block;
  position: relative;
}

a.networks:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid var(--textNormal);
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.networks:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
