@import url("layout.css");
@media only screen and (min-width: 800px) {
  .react-tabs {
    display: flex;
    background-color: var(--bg);
  }

  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
  }

  .react-tabs__tab {
    width: 150px;
    background-color: inherit;
    color: var(--textTitle);
    font-family: "Inconsolata", sans-serif;
    padding: 15px 20px;
    border: none;
    outline: none;
    text-align: left;
    border-left: 3px solid var(--textLink);
    transition: 0.5s;
  }

  .react-tabs__tab--selected {
    background-color: var(--textNormal);
    border-left: 3px solid var(--textTitle);
    color: white;
    transition: 0.5s;
  }

  .react-tabs__tab-panel {
    display: none;
    padding-left: 16px;
  }

  .react-tabs__tab-panel--selected {
    display: block;
  }

  .panel-content p {
    margin: 0;
  }

  .panel-content .position {
    font-weight: bold;
  }

  .panel-content .date,
  .panel-content .location {
    font-family: "Inconsolata", sans-serif;
    font-size: 16px;
  }

  .panel-content ul {
    margin-top: 10px;
    list-style-type: initial;
    padding-left: 18px;
  }

  .panel-content ul li {
    font-size: 14px;
  }
}
