@import url("layout.css");

.footer {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  color: var(--textLink) !important;
  margin-bottom: 10px;
}

.footer a {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
}
