@import url("layout.css");
header {
  width: 100%;
  height: 5rem;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
}

.logo a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--textTitle) !important;
  text-decoration: none;
  font-size: 2rem;
}

.FiX {
  color: var(--textTitle) !important;
  stroke-width: 3;
  width: 1.5em;
  height: 1.5em;
}

.FiMenu {
  color: var(--textTitle) !important;
  stroke-width: 3;
  width: 1.5em;
  height: 1.5em;
}
ul .nav-item {
  list-style: none;
  margin: 15px;
}

ul li .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--textLink) !important;
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 0; */
  padding-top: 1.5rem;
}

.nav-list {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 550ms ease-in-out;
}
.nav-list.active {
  right: 0;
}
/* .close {
  position: absolute;
  top: 1rem;
  right: 2.7rem;
} */
/* .nav-item {
  margin: 1.5rem 0;
} */

.nav-link {
  font-size: 1rem;
}

@media screen and (min-width: 700px) {
  .logo {
    width: 4rem;
  }

  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    transition: initial;
  }
  .FiMenu,
  .FiX {
    display: none;
  }

  .nav-item {
    margin: 0 1rem;
  }

  .nav-link {
    color: var(--textLink);
    position: relative;
    font-size: 1rem;
    padding: 0.5rem;
    transition: 0.5s;
    border-radius: 5px;
  }

  .nav-link:hover {
    color: var(--bg) !important;
    background-color: var(--textNormal);
    border-radius: 5px;
  }
}
/* @media screen and (min-width: 1024px) {
  .main-message p {
    font-size: 3rem;
  }
} */

/* @media screen and (max-width: 768px) {
  .main-message p {
    font-size: 2.2rem;
  }
} */

@media screen and (max-width: 550px) {
  .logo a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .logo a {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 330px) {
  .logo a {
    font-size: 1.3rem;
  }
}
