@import url("layout.css");

.hero {
  width: 100%;
  position: relative;
  min-height: 500px;
}

.content {
  padding: 5em 0;
  padding-bottom: 3em;
}

.full-name {
  font-size: 55px;
}

.my-title {
  font-size: 30px;
  color: var(--textNormal);
  max-width: 400px;
}

.my-desc {
  font-size: 14px;
  max-width: 400px;
}

.scroll {
  width: 30px;
  margin-top: 2em;
  color: var(--textNormal);
}

.hero-design {
  display: unset;
  width: 100%;
  transition: 0.5s;
  max-width: 400px;
}

@media only screen and (min-width: 800px) {
  .content {
    padding: 0;
    padding: 5em 0;
  }
  .my-title {
    font-size: 35px;
    color: var(--textNormal);
  }

  .my-desc {
    font-size: 16px;
    max-width: 400px;
  }
  .hero {
    height: 90vh;
    display: grid;
    -ms-grid-columns: 50% auto;
    grid-template-columns: 50% auto;
    background: unset;
  }
  .hero .content {
    text-align: left;
  }
  .my-title,
  .my-desc {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-top: 35vh;
    width: 100%;
    transition: 0.5s;
  }
}
