@import url("layout.css");

.hero {
  width: 100%;
  min-height: 90vh;
  position: relative;
}

.main-message {
  width: 100%;
  max-width: 50rem;
  padding: 15vh 5vh;
  margin: 10vh 0;
  border: 4px solid var(--textNormal);
  /* border-radius: 10px; */
  transition: box-shadow 0.3s;
}

.main-message p {
  font-size: 1.8rem;
  color: var(--textNormal);
  transition: 0.5s;
}

.main-message:hover {
  box-shadow: 0 0 20px var(--textNormal);
}

.resume-home {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  color: var(--textNormal) !important;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a.resume-home:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid var(--textNormal);
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.resume-home:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* .icons {
  fill: var(--textNormal);
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.icon {
  fill: var(--textNormal);
  width: 10vh;
  height: 10vh;
  margin: 4vh;
  padding: 2vh;
  background-color: var(--textNormal);
  border: solid 2px var(--textNormal);
  transition: 0.5s;
  border-radius: 10px;
  fill: var(--bg);
  background-color: var(--textNormal);
}

.icon:hover {
  box-shadow: 0 0 15px var(--textNormal);
} */

@media screen and (min-width: 1024px) {
  .main-message p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .main-message {
    padding: 20% 5vh;
    margin: 10% 0;
  }
  .main-message p {
    font-size: 1.5rem;
  }
  .resume-home {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 550px) {
  .main-message p {
    font-size: 1.3rem;
  }
  .resume-home {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  .main-message p {
    font-size: 1.17rem;
  }
  .resume-home {
    font-size: 1rem;
  }
}
@media screen and (max-width: 330px) {
  .main-message p {
    font-size: 1rem;
  }
  .resume-home {
    font-size: 0.8rem;
  }
}
