@import url("layout.css");

.hero {
  width: 100%;
  min-height: 90vh;
  position: relative;
}

.main-message {
  width: 100%;
  height: 60vh;
  max-width: 50rem;
  padding: 10vh 5vh;
  background-color: var(--textNormal);
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.main-message p {
  /* font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif; */
  font-size: 2rem;
  color: var(--bg);
  transition: 0.5s;
  /* padding: 2% 0; */
}

.icons {
  fill: var(--textNormal);
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.icon {
  fill: var(--textNormal);
  width: 10vh;
  height: 10vh;
  margin: 4vh;
  padding: 2vh;
  /* background-color: var(--textNormal); */
  border: solid 2px var(--textNormal);
  transition: 0.5s;
  border-radius: 10px;
  fill: var(--bg);
  background-color: var(--textNormal);
}

.icon:hover {
  box-shadow: 0 0 15px var(--textNormal);
}

.main-message:hover {
  box-shadow: 0 0 15px var(--textNormal);
}

.resume-home {
  font-family: "Inconsolata", monospace;
  color: var(--bg) !important;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a.resume-home:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid var(--bg);
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.resume-home:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (max-width: 1024px) {
  .main-message p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .main-message p {
    font-size: 2.2rem;
  }
  .resume-home {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 550px) {
  .main-message p {
    font-size: 1.3rem;
  }
  .resume-home {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  .main-message p {
    font-size: 1.17rem;
  }
  .resume-home {
    font-size: 1rem;
  }
}
@media screen and (max-width: 330px) {
  .main-message p {
    font-size: 1rem;
  }
  .resume-home {
    font-size: 0.8rem;
  }
}
