@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}
html {
  box-sizing: border-box;
}
body {
  --bg: #d9e3f5;
  --bw: black;
  --textNormal: #676fb8;
  --textTitle: #030087;
  --textLink: #7388e8;
  --hr: hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);
  transition: 0.5s;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #1a1b1e;
  --bw: white;
  --textNormal: #838bd6;
  --textTitle: #b5b3fa;
  --textLink: #94afff;
  --hr: hsla(0, 0%, 100%, 0.2);
  transition: 0.5s;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--textTitle);
}
p {
  font-weight: 400;
  font-size: 16px;
  color: var(--textNormal);
}

button,
a,
ul {
  font-family: "Inconsolata", sans-serif;
  list-style: none;
  text-decoration: none;
  color: var(--textLink) !important;
}

section {
  padding: 5rem 1.5rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}
.title {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 1050px) {
}

@media only screen and (min-width: 1250px) {
}

@media only screen and (min-width: 1550px) {
}
