@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  --bg: #d9e3f5;
  --textNormal: #676fb8;
  --textTitle: #030087;
  --textLink: #7388e8;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1a1b1e;
  --textNormal: #b5b3fa;
  --textTitle: #a4c2f8;
  --textLink: #676fb8;
  --hr: hsla(0, 0%, 100%, 0.2);
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--textTitle);
  font-size: 3rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--textNormal);
}

button,
a,
ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  color: var(--textLink) !important;
}

section {
  padding: 5rem 0;
}

.container,
header.container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--textLink) !important;
}
