@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  --bg: #d9e3f5;
  --bw: black;
  --textNormal: #676fb8;
  --textTitle: #030087;
  --textLink: #7388e8;
  --hr: hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);
  transition: 0.5s;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #1a1b1e;
  --bw: white;
  --textNormal: #b5b3fa;
  --textTitle: #a4c2f8;
  --textLink: #676fb8;
  --hr: hsla(0, 0%, 100%, 0.2);
  transition: 0.5s;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--textTitle);
  font-size: 3rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--textTitle);
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--textNormal);
}

button,
a,
ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  color: var(--textLink) !important;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

footer {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  color: var(--textLink) !important;
  margin-bottom: 10px;
}

footer a {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
}

/* @media screen and (max-width: 1024px) {
  p,
  a.link-p {
    font-size: 2.2rem;
  }
} */

@media screen and (max-width: 768px) {
  p,
  a.link-p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 550px) {
  p,
  a.link-p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  p,
  a.link-p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 330px) {
  p,
  a.link-p {
    font-size: 0.5rem;
  }
}
