@import url("layout.css");

.go-home {
  fill: var(--textNormal);
  width: 34px;
  height: 34px;
  transition: 0.5s;
}

.project-h1 {
  text-align: center;
}

.project-h3 {
  margin-bottom: 0.5rem;
}
.project-p {
  font-size: 16px;
}

.grid {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 75% 25%;
}

.left-content {
  padding-right: 1rem;
}

.project-img {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0;
  }
}
