@import url("layout.css");

.logo-svg svg {
  width: 34px;
  height: 34px;
  color: var(--textLink);
}

.project .title {
  text-align: center;
}

.project-h3 {
  margin-bottom: 0.5rem;
}
.project-p {
  font-size: 14px;
}

.grid {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 65% 35%;
}

.left-content {
  padding-right: 1rem;
}

.project-img {
  width: 100%;
}

.stack-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.stack-list li {
  font-family: "Inconsolata", sans-serif;
  font-size: 14px;
  color: var(--textNormal) !important;
  background-color: var(--bg);
  border: 1px solid var(--textNormal);
  padding: 5px;
  margin: 5px 5px 0 0;
}

@media screen and (max-width: 550px) {
  .grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0;
  }
}
